body {
    background-image: url("../images/desktop\ wallpaper_\ ocean.jpeg");
    background-size: cover;
}

h1 { 
    text-align: center;
    font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  background-image: url("../images/gridbackground.jpg");
  background-position: center;
  background-size: contain; 

}

h2 {
  font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;  
}

h3 {
    font-family: "Google Sans Code", monospace;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

p {
    font-family: "Yrsa", serif;
  font-optical-sizing: auto;
  font-weight: 450;
  font-style: normal;
  font-size: 20px;
}

img {
    float: right;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #659EC7;
    background-position: top;
}
ul li {
    float: left;
    text-align: center;
    color: white;
    padding: 14px 16px;
}
ul li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
ul li a:hover {
    background-color: lightblue
}

.header {
    font-size: 20px;
}

.container {
  position: relative;
  text-align: center;
  color: white;
}
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}